# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.*

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.tsbuildinfo
next-env.d.ts

*.db
public/uploads/
nul
